body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%
}

body {
  background-color: #b39e9e;
  color: #f0f0f0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.room {
  position: fixed;
  top: 0;
  left: 0;
}

#main {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  z-index: 2;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  padding-top: 20px;
  margin-bottom: 20px;
}

.element {
  height: 30vh;
  font-size: 4vh;
  color: white;
}

.long {
  height: 60vh;
}

.gigalong {
  height: 120vh;
}

#name {
  height: 30vh;
  font-size: 5vh;
}

.left {
  background-color: #b39e9e;
  opacity: 0.9;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 90%;
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-first {
  width: 90%;
  padding-left: 15px;
  color: white;
}

.right {
  background-color: #b39e9e;
  opacity: 0.9;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  width: 90%;
  padding-right: 15px;
  text-align: end;
  justify-self: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-first {
  width: 90%;
  padding-right: 15px;
  text-align: end;
  color: white;
}