body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%
}

body {
  color: #f0f0f0;
  background-color: #ff69b4;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.room {
  position: fixed;
  top: 0;
  left: 0;
}

#main {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  z-index: 2;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  padding-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 681px) {
  .element {
    font-size: 60px;
  }

  #name {
    font-size: 70px;
  }
}

@media screen and (max-width: 680px) and (min-width: 450px) {
  .element {
    font-size: 35px;
  }

  #name {
    font-size: 45px;
  }
}

@media screen and (max-width: 449px) {
  .element {
    font-size: 27px;
  }

  #name {
    font-size: 30px;
  }
}

.element {
  height: 30vh;
  color: white;
}

p {
  margin: 5px
}

.long {
  height: 60vh;
}

.gigalong {
  height: 120vh;
}

#name {
  height: 30vh;
}

.left {
  background-color: #b39e9e;
  opacity: 0.9;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 90%;
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-first {
  width: 90%;
  padding-left: 15px;
  color: white;
}

.right {
  background-color: #b39e9e;
  opacity: 0.9;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  width: 90%;
  padding-right: 15px;
  text-align: end;
  justify-self: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-first {
  width: 90%;
  padding-right: 15px;
  text-align: end;
  color: white;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  background-color: yellow;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 10px;
  position: relative;
}